
body{
	font-family: sans-serif;
/*       background-image: linear-gradient(to right, green , white,black);*/
 background: lightcyan;

}
table{
	
/*	font-weight: bolder;*/
	border-collapse: collapse;
      width: 90%;
      background-color: lightgray ;
      text-align: center;

}
th{
  padding: 8px;
  font-weight: bolder;
  background-color: palegoldenrod ;
/*  color: darkolivegreen;*/


}
 td {
  padding: 8px;
  color: rgb(17, 39, 59) ;
  font-weight: bolder;
}

tr:nth-child(even) {background-color: #f2f2f2;}
span{
      color: red;
}
h3{
/*  color: green;*/
}
fieldset{
      padding: 20px;
      width: 30%;
      background-color: rgb(136, 228, 235);
      border: 2px solid black;
      border-radius: 20px;
       box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
}
#del_btn{
      color: white;
      background-color: red;
      border: 2px solid black;

}
#del_btn:hover{
      transition: .5s;
      cursor: pointer;
      color: rgb(211, 211, 211);
      background-color: rgb(236, 70, 70);
      border: 1px solid black;
}
button{
       background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;

}button:hover{
   transition: .5s;
      cursor: pointer;
      color: black;
      background-color: rgb(131, 236, 70);
      border: 1.6px solid black;
}
input[type=text]{
      padding: 5px;
      border-radius: 3px;
     border: 2px solid deepskyblue;
     

      

}
input[type=text]:focus {
      outline: none;
    box-shadow: 0 0 2px 2px seagreen;

      border-radius: 6px;
      transition-duration: .9s;
  border: 2px solid lightcoral;

}
     

label{
      font-size: 20px;
      font-weight: bold;
      color: rgb(98, 13, 124);
}
 #delete_message{
            font-family: 'Tiro Tamil', serif;
            display: none;
            animation: shake 1s infinite;

            box-shadow: 0 0 1px 1px lightgoldenrodyellow;
            margin-bottom: 20px;
            width: 30%;
            color: white;
            font-weight: bold;
            padding: 5px;
            background: red;
            text-align: center;
            border-radius: 10px;
            border: 2px solid #Ef9A9A;
       }
#added_message{
          font-family: 'Tiro Tamil', serif;
            display: none;

            animation: shake 1s infinite;


            box-shadow: 0 0 1px 1px #37eb23;
            margin-bottom: 20px;
            width: 30%;
            
            color: white;
            font-weight: bold;
            padding: 5px;
            background:#29f013 ;
            text-align: center;
            border-radius: 10px;
            border: 2px solid #1e7d14;
       }
       @keyframes shake {
  0% { transform: translate(8px, 7px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-4deg); }
  20% { transform: translate(-3px, 5px) rotate(1deg); }
  30% { transform: translate(3px, -2px) rotate(0deg); }
  40% { transform: translate(5px, -8px) rotate(1deg); }
 
}
